<div>
    <div class="row gx-5 justify-content-center">
        <div *ngFor="let product of productsList;" class="col-lg-4 col-md-12 d-flex row">
            <app-card [productInput]="product"></app-card>
        </div>       
    </div>


    <div [ngClass]="{'d-none': itemsInWishlist.length == 0, 'col':true}">
        <table class="table table-borderless table-hover w-75">
            <thead>
                <tr>
                    <th scope="col">My Wishlist</th>
                    <th scope="col"></th>
                    <th scope="col" class="ms-4"> You have added {{ itemsInWishlist.length }} Products</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemsInWishlist;" class="h-25">
                    <th><img [src]="item?.image " class="w-50 mt-3 wish-img "></th>
                    <td>{{ item?.title }}</td>
                    <td>
                        <button class="btn btn-danger ms-4" (click)="removeFromWishlist(item) ">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>